html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #222;
}

body {
    background-color: #f6f6f6;
}

.color-cool {
    color: #077dfe;
}

.color-warm {
    color: #ff7a00;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    align-items: center;
}
